.input{
  padding: 7px 15px;
  color: var(--black);
  border: 1px solid var(--white);
  outline-color: var(--primary);
  background: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-family);
}
.input::placeholder{
  color: var(--grey);
}
.error{
  border: 1px solid var(--red);
  outline: 1px solid var(--red);
}
.errorMsg{
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--red);
}
.inputWrapper{
  position: relative;
}