.review{
  display: grid;
  grid-template-columns: [start] auto 1fr auto auto [end];
  gap: 10px;
  align-items: center;
  line-height: 24px;
  font-size: 14px;
}

.description{
  grid-column: start / end;
}
.date{
  margin-right: 10px;
}
.name{
  font-weight: 700;
}

@media screen and (max-width: 640px){
  .review{
    grid-template-columns: [start] 30px [titlestart] auto [titleend] 1fr [end];
  }
  .title{
    grid-column: titlestart / end;
  }
  .date{
    grid-column: start / titleend;
  }
}

@media screen and (max-width: 440px) {
  .date,
  .rating{
    grid-column: start / end;
  }
  
}