.stars{
  position: relative;
}
.filled svg{
  fill: var(--primary);
}
.star svg{
  margin-right: 5px;
}
.editable{
  cursor: pointer;
}
.error svg{
  stroke: var(--red);
}
.errorMsg{
  position: absolute;
  bottom: -15px;
  left: 0;
  color: var(--red);
  white-space: nowrap;
}