.sortIcon{
  display: none;
}
.active .sortIcon {
  display: block;
  margin-right: 8px;
}
.sort button{
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  background: transparent;
  border: none;
}
.sort{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.active{
  color: var(--primary);
  font-weight: 700;
  display: flex;
  align-items: center;
}